*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --base: #555;
  --base-100: #f1f1f1;
  --base-400: #555;
  --base-500: #555;
  --base-800: #000;
  --yellow: #ffda4b;
  --yellow-100: #fffbe6;
  --yellow-400: #ffda4b;
  --yellow-800: #8b6f00;
  --red-500: #e10808;
  --red-800: #c20808;
  --blue: #0a61ae;
  --blue-100: #e2f8ff;
  --blue-400: #61dafb;
  --blue-800: #0a61ae;
}

body {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: var(--base-600);
  &:hover {
    text-decoration: underline;
  }
}

/*===================== Header Section ====================*/
header {
  padding-top: 12px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0, 3);

  .logo-holder {
    display: flex;
    padding: 10px;
    align-items: center;
    font-weight: 700;

    .logo {
      background-color: var(--base-800);
      color: #fff;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 33px;
      margin-right: 20px;
    }
    img {
      height: 60px;
      border: 2px solid blue;
      border-radius: 50%;
    }
    .logo-text {
      flex: 1;
    }
  }
  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      list-style-type: none;
      gap: 8px;
      li {
        display: inline-block;
        a {
          display: inline-block;
          padding: 10px 20px;
          color: var(--base);
          &:hover {
            background-color: var(--base-100);
            border-radius: 10px;
            text-decoration: none;
          }
        }
      }
    }
    .mobile-toggle {
      display: none;
      color: var(--base-800);
      padding: 12px;

      @media (max-width: 760px) {
        display: inline-block;
        position: absolute;
        top: 28px;
        right: 20px;
      }
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 760px) {
    flex-direction: column;
    align-items: center;
    nav {
      margin-top: 10px;
      width: 100%;
      ul {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        a {
          width: 100%;
        }
        &.active {
          display: flex;
        }
      }
    }
  }
}
.container {
  max-width: 1440px;
  margin: auto;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;

  @media (max-width: 1440px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1884e3;
  color: var(--base-100);
  border-radius: 10px;
  transition: ease-in-out 0.4s all;
  &:hover {
    background-color: #0558a1;
    text-decoration: none;
  }
  &.red {
    background-color: var(--red-500);
    color: var(--base-100);
    &:hover {
      background-color: var(--red-800);
    }
  }
  &.blue {
    background-color: #1884e3;
    color: var(--base-100);
    &:hover {
      background-color: #0558a1;
    }
  }
}

/*===================== Hero Section ====================*/
.hero {
  /* padding: 0px 20px; */
  display: flex;
  @media (max-width: 1025px) {
    flex-direction: column;
  }
  .hero-blue {
    padding: 3px 10px;
    flex: 1;
    background-color: var(--blue-100);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 60px;
      line-height: 1;
      margin-bottom: 10px;
      small {
        display: block;
        font-weight: 100;
        margin-bottom: 12px;
      }
      @media (max-width: 1024px) {
        font-size: 48px;
      }
    }
    span {
      @media (max-width: 760px) {
        display: none;
      }
    }

    .call-to-action {
      margin-top: 20px;
      margin-bottom: 10px;
      a {
        margin-right: 20px;
        margin-bottom: 10px;
      }
    }
    .social-links {
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .hero-yellow {
    /* max-width: 560px; */
    flex: 1;
    background: linear-gradient(#ec9305, #2b05c4, rgba(0, 0, 0, 0.45));
    border-radius: 15px;
    object-fit: cover;
    /* padding: 0px 5px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    img {
      margin-top: -45px;
      max-width: 450px;
      border-radius: 15px;
    }
  }
}

/*===================== Skill Logo ====================*/
.logos {
  background-color: var(--base-100);
  border-radius: 30px;
  padding: 20px 0px;
  overflow: hidden;
  @media (max-width: 1024px) {
    border-radius: 0px;
  }
  .marquee {
    width: 100vw;
    max-width: 100%;
    height: 120px;
    overflow: hidden;
    position: relative;

    .track {
      display: flex;
      gap: 10px;
      position: absolute;
      white-space: nowrap;
      will-change: transform;
      animation: marquee 20s linear infinite;
      width: 200%;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}

h2 {
  text-align: center;
  font-size: 64px;
  margin-bottom: 12px;
  padding: 30px;
  color: var(--base-800);
  small {
    display: block;
    font-weight: 100;
    font-size: 0.5em;
    color: var(--base);
  }
  @media (max-width: 1024px) {
    font-size: 48px;
  }
}

h3 {
  font-size: 32px;
  margin-bottom: 12px;
  color: var(--base-800);
  font-weight: 600;
  line-height: 1;
}

/*===================== Skill Section ====================*/
.skills {
  .holder-blue {
    background-color: var(--blue-100);
    padding: 25px;
    border-radius: 22px;
    display: flex;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
    .left-column {
      flex: 1;
      ul {
        list-style-type: none;
        gap: 10px;
        margin-right: 100px;
        margin-bottom: 18px;
        li {
          display: inline-block;
          background-color: var(--blue-400);
          padding: 12px 20px;
          border-radius: 12px;
          margin-bottom: 10px;
          &:hover {
            background-color: var(--blue);
            cursor: pointer;
            color: #fff;
          }
        }
      }
    }
    .right-column {
      flex: 1;
      p {
        margin-bottom: 12px;
      }
    }
  }
}

/*===================== Project Section ====================*/
.projects {
  /* border: 2px solid red; */
  padding: 12px 20px;
  .project-grid {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    @media (max-width: 1024px) {
      grid-template-rows: repeat(5, 1fr);
      margin-bottom: 30px;
    }
    height: 950px;
    @media (max-width: 760px) {
      display: flex;
      flex-direction: column;
      gap: 30px;
      height: auto;
    }
    .project-item {
      padding: 30px;
      background-color: var(--base-100);
      border-radius: 14px;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
        transition: ease 3s all;
      }
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
      @media (max-width: 760px) {
        height: 250px;
      }
      &:nth-child(1) {
        grid-column: span 2;
        grid-row: span 2;
        @media (max-width: 1024px) {
          grid-column: span 2;
          grid-row: span 2;
        }
      }
      &:nth-child(2) {
        grid-column: span 2;
        grid-row: span 1;
        @media (max-width: 1024px) {
          grid-column: span 3;
          grid-row: span 1;
        }
      }
      &:nth-child(3) {
        grid-column: span 1;
        grid-row: span 1;
        @media (max-width: 1024px) {
          grid-column: span 3;
          grid-row: span 1;
        }
      }
      &:nth-child(4) {
        grid-column: span 1;
        grid-row: span 1;
        @media (max-width: 1024px) {
          grid-column: span 3;
          grid-row: span 1;
        }
      }
      &:nth-child(5) {
        grid-column: span 2;
        grid-row: span 1;
        @media (max-width: 1024px) {
          grid-column: span 2;
          grid-row: span 1;
        }
      }
      &:nth-child(6) {
        grid-column: span 5;
        grid-row: span 3;
        @media (max-width: 1024px) {
          grid-column: span 5;
          grid-row: span 2;
        }
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .sticky-media {
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #bfc6ca;
    margin-bottom: 10px;
    gap: 20px;
    display: flex;
    position: fixed;
    top: 80%;
    left: auto;
    z-index: 1000;
    
    @media (max-width:760px) {
      flex-direction: column;
      margin-bottom: 20px;
    }

    box-shadow: 0 0 20px rgb(222, 120, 4);
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      height: 55px;
      width: 55px;
      border-radius: 50%;
      font-size: 30px;
      border: 3px solid #f0f0f0;
      transition: 0.3s ease-in-out;
      position: relative;
      i {
        color: #f0f0f0;
        transition: 0.3s ease-in-out;
      }
      &:hover {
        border-color: transparent;
        i {
          text-shadow: 0 0 15px #fff;
        }
      }
    }
    a:nth-child(1):hover {
      box-shadow: 0 0 15px #0077b5; /* LinkedIn */

      i {
        text-shadow: 0 0 15px #0077b5;
        color: #0077b5;
      }
    }
    a:nth-child(2):hover {
      box-shadow: 0 0 15px #1da1f2; /* Twitter */

      i {
        text-shadow: 0 0 15px #1da1f2;
        color: #1da1f2;
      }
    }

    a:nth-child(3):hover {
      box-shadow: 0 0 15px #ffffff; /* GitHub */

      i {
        text-shadow: 0 0 15px #ffffff;
        color: #ffffff;
      }
    }

    a:nth-child(4):hover {
      box-shadow: 0 0 15px #e1306c; /* Instagram */

      i {
        text-shadow: 0 0 15px #e1306c;
        color: #e1306c;
      }
    }

    a:nth-child(5):hover {
      box-shadow: 0 0 15px #1877f2; /* Facebook */

      i {
        text-shadow: 0 0 15px #1877f2;
        color: #1877f2;
      }
    }
    a:nth-child(6):hover {
      box-shadow: 0 0 15px #ec1b1b; /* Facebook */

      i {
        text-shadow: 0 0 15px #ec1b1b;
        color: #ec1b1b;
      }
    }
  }
  .footer-content {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    @media (max-width:760px) {
      display: none;
    }
    ul{
      display: flex;
      gap: 20px;
      list-style-type: none;
      li{
        padding: 10px 10px;
        font-size: 16px;
        &:hover{
          background-color: #f5eded;
          border-radius: 10px;
          a{
            text-decoration: none;
          }
        }

      }
    }
  }
  .footer-bar {
    margin: 12px;
    background-color: #f7eded;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    color: #7c7777;
    border-radius: 20px;
    font-size: 18px;

    span{
      color: #1da1f2;
      font-size: 28px;
      @media (max-width:760px) {
        display: block;
      }
    }
  }
}
